.container_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 3em;
}

.container_image > div {
  width: 20em;
  margin: 1em;
  text-align: center;
}

img {
  height: 12em;
  cursor: pointer;
}

.description {
  background-color: #f2f2f2;
  padding: 1em;
  margin-top: 0.5em;
}

@media only screen and (max-width: 600px) {
  .container_image {
    justify-content: center;
  }

  .container_image > div {
    width: 90%;
    max-width: 20em;
  }

  img {
    height: auto;
    max-height: 12em;
    width: 100%;
  }
}
